{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container jumbo">
  <div class="content-section">
      <div class="media">
          <div class="media-body">
            <h2 class="account-heading">Hi, {{ user.first_name }}</h2>
          </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Account Info</legend>
              {{ u_form | crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
  </div>
</div>
<div class="container jumbo">
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h3 class="account-heading">License Plates</h3>
                <ul class="list-group">
                    {% for plate in plates %}
                        <li class="list-group-item">Plate: {{ plate.value }}</li>
                    {% endfor %}
                </li>
            </div>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Plate</legend>
                {{ l_form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block sidebar %}
<div class="container jumbo">
  <div class="content-section">
      <ul class="list-group">
          <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-info' %}">Info</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-payments' %}">Payment</a></li>
          <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-spots' %}">Spots</a></li>
      </ul>
  </div>
</div>
{% endblock sidebar %}