{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container jumbo">
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }}'s Payment Methods</h2>
        </div>
    </div>
</div>
    {% if cards %}
        {% for card in cards %}
            <div class="content-section">
                <div class="media">
                    <div class="media-body">
                        <p>Card ending in **** {{ card.cc_number.12 }}{{ card.cc_number.13 }}{{ card.cc_number.14 }}{{ card.cc_number.15 }}</p>
                        <p>Expires {{ card.cc_expiry }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <p>No cards added.</p>
                </div>
            </div>
        </div>
    {% endif %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Card</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>
</div>
</div>
{% endblock content %}

{% block sidebar %}
<div class="container jumbo">
<div class="content-section">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-info' %}">Info</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-payments' %}">Payment</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-spots' %}">Spots</a></li>
        <li class="list-group-item list-group-item-light">
            {% if user.member %}
                <a href='#'>Is a member</a>
            {% else %}
                <a href="{% url 'accounts:confirm-member' %}">
                Member Sign Up
                </a>
            {% endif %}
        </li>
    </ul>
</div>
</div>
{% endblock sidebar %}