{% extends "accounts/base-account.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container jumbo">
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }}'s Payment Methods</h2>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="media">
        <div class="media-body">
        <legend class="border-bottom mb-4">{{ user.first_name }}'s Credit Card</legend>
        {% if card %}
            <p>Card ending in **** {{ card.cc_number.12 }}{{ card.cc_number.13 }}{{ card.cc_number.14 }}{{ card.cc_number.15 }}</p>
            <p>Expires {{ card.cc_expiry }}</p>
        {% else %}
            <p>No cards added.</p>
        {% endif %}
        </div>
    </div>
    
    <div class="move">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {% if cards %}
                    <legend class="border-bottom mb-4">Add Card</legend>
                {% else %}
                    <legend class="border-bottom mb-4">Update Card</legend>
                {% endif %}
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                {% if cards %}
                    <button class="btn btn-outline-info" type="submit">Add</button>
                {% else %}
                    <button class="btn btn-outline-info" type="submit">Update</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>

</div>
{% endblock content %}