{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container jumbo">
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">{{ user.first_name }}'s Current Spots</h2>
        </div>
    </div>
    <div>
        <p>
            Need to get another spot? <a class="ml-2" href="#">View Available Spots</a>
        </p>
    </div>
</div>
</div>
{% endblock content %}

{% block sidebar %}
<div class="container jumbo">
<div class="content-section">
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-info' %}">Info</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-payments' %}">Payment</a></li>
        <li class="list-group-item list-group-item-light"><a href="{% url 'accounts:account-spots' %}">Spots</a></li>
    </ul>
</div>
</div>
{% endblock sidebar %}