{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h2 class="account-heading">Payment Complete</h2>
        </div>
    </div>
</div>
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <h4>Thank you for your order {{ billing_name }}!</h4>
            <p>Parking Spot: {{ spot.garage.name }} on Floor {{ spot.floor }}<p>
            <p>License Plate: {{ plate.value }}</p>
            <p>Paid: ${{ amount }}
            <p>Payment: **** {{ cc_number.12 }}{{ cc_number.13 }}{{ cc_number.14 }}{{ cc_number.15 }}</p>
            <p>Expiration date: {{exp_date}} </p>
        </div>
    </div>
</div>
<div class="content-section">
    <div class="media">
        <div class="media-body">
            {% if user.is_authenticated %}
                <small class="text-muted">
                    <a href="{% url 'accounts:account-spots' %}">Return to account</a>
                </small>
            {% else %}
                <small class="text-muted">
                    <a href="{% url 'accounts:home' %}">Return to home</a>
                </small>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

