{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container jumbo">
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">License Plate</h2>
            </div>
        </div>
        
        {% if licenses and licenses|length >= 1 %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="move">
                <legend class="border-bottom mb-4">Use An Existing Plate</legend>
                {% for license in licenses %}
                    <div class="radiobtn">
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ license.id }}">
                    <label for="choice{{ forloop.counter }}">{{ license.value }}</label>
                {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value="Use License">
            </div>
        </form>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="move">
                <legend class="border-bottom mb-4">Add License Plate</legend>
                {{ form | crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}