{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if licenses %}
    <form method="POST">
        {% csrf_token %}
        {% for license in licenses %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ license.id }}">
            <label for="choice{{ forloop.counter }}">{{ license.value }}</label><br>
        {% endfor %}
        <input type="submit" value="license">
    </form>
{% else %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add License Plate</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>
</div>
{% endif %}

{% endblock content %}