{% extends "accounts/base.html" %}

{% block content %}
    
<div class="container jumbo">
    <div class="content-section">
        {% block prompt %}
        {% endblock prompt %}

        <form method="POST">
        {% csrf_token %}
            <input type="submit" class="btn btn-outline-info" name="confirm" id="choice1" value="Confirm">
            <input type="submit" class="btn btn-outline-info" name="confirm" id="choice2" value="Cancel">
        </form>
    </div>
</div>
{% endblock content %}