{% extends "accounts/base.html" %}
{% block content %}

<div class="container jumbo">
<h1>Parking Garages Near Me</h1>
<hr class="break brk">
</div>

{% if nearby_garages %}
    <ul class="list-group">
    {% for garage in nearby_garages %}
        <li class="btn list-group-item list-group-item-action">
            <a class="text-dark stretched-link text-decoration-none" href="{% url 'parkview:spots' garage.id %}">{{ garage.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No garages are nearby</p>
{% endif %}

{% endblock content %}