{% extends "accounts/base.html" %}
{% block content %}

<div class="container jumbo">
<h1>{{ garage.name }}</h1>

<ul class="list-inline">
    <p class="garage_text gtext">{{ garage.street }}
    {{ garage.city }}, {{ garage.country }}
    {{ garage.zip_code }}</p>
</ul>
</div>

<h2>Parking Spots</h2>
{% for floor in floors %}
    <h3>Floor {{ forloop.counter }}</h3>
    <ul class="list-group d-flex flex-row flex-wrap">
    {% for spot in floor %}
        {% if spot.used_by is None %}
            <li class="col-md-6 list-group-item list-group-item-action">
                <a class="list-group-item-action stretched-link" href="{% url 'parkview:parkspot' spot.id %}">
                    Open
                </a>
            </li>
        {% else %}
            <li class="col-md-6 list-group-item disabled">
                Used by {{ spot.used_by }}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}