{% extends "accounts/base.html" %}
{% block content %}

<div class="container jumbo">
<h1>{{ garage.name }}</h1>

<ul class="list-inline">
    <p class="garage_text gtext">{{ garage.street }}
    {{ garage.city }}, {{ garage.country }}
    {{ garage.zip_code }}</p>
</ul>
</div>

<h2>Parking Spots</h2>
{% for floor in floors %}
    <h3>Floor {{ forloop.counter }}</h3>
    <div class="list-group d-flex flex-row flex-wrap">
    {% for spot in floor %}
        {% if spot.used_by is None %}
            <a class="col-md-4 list-group-item list-group-item-action option-btn"
                href="{% url 'parkview:parkspot' spot.id %}">
                Open
            </a>
        {% else %}
            <a class="col-md-4 list-group-item disabled" href="#">
                Used by {{ spot.used_by }}
            </a>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}

{% endblock content %}